.card.border-secondary.mb-3
  .card-header 
    = @movie.name
  .card-body
    Cinema: 
    = @theater.name
    &nbsp;
    Seat: 
    = seat
    &nbsp;
    Date:
    = session[:timetable]["time_start"].to_date
    &nbsp;
    Time: 
    = session[:timetable]["time_start"][11, 5]
    - #.strftime("%H:%M")[0]
    &nbsp;
    Type: 
    = type
  .card-footer
    %p.card-text
      total price: 
      - price = Chair.get_price(@theater, type)
      = price
      - @total_price += price 
      - puts @total_price