%p
	.row.align-items-end.mb-5.justify-content-center
		.col-lg-3.col-md-5.col-sm-12
			= image_tag "#{@movie.name}.jpg", height: 300 
		.col-lg-9.col-md-7.col-sm-12.mt-3
			.fs-2
				= @movie.name
			= render "movieCardDetail"

%p
	- @timetables.each do |theater, timetables|
		- if timetables.length != 0	
			- @empty = false
			%h5.mt-5="Cinema: #{theater}"
			.row.justify-content-start
				- timetables.each do |timetable|
					.col-lg-1.col-md-2.col-sm-3
						= button_to "#{timetable.time_start.strftime("%H:%M")}", buyticket_path, method: "post", params: {timetable: timetable}, class: 'btn btn-info mt-2'
	- if @empty
		.fs-4
			not showing today, please come back later
%p
	= button_to "back", main_path, class: "btn btn-secondary btn-lg mt-5", method: "get"
