%p#notice= notice

%p
  %b User:
  = @inventory.user
%p
  %b Product:
  = @inventory.product
%p
  %b Quantity:
  = @inventory.quantity

= link_to 'Edit', edit_inventory_path(@inventory)
\|
= link_to 'Back', inventories_path
