%p#notice= notice

%p
  %b Type:
  = @chair.typeofchair
%p
  %b Column:
  = @chair.column
%p
  %b Row:
  = @chair.row
%p
  %b Price:
  = @chair.price
%p
  %b Theater:
  = @chair.theater

= link_to 'Edit', edit_chair_path(@chair)
\|
= link_to 'Back', chairs_path
