%h1 Listing timetables

%table
  %thead
    %tr
      %th Time start
      %th Time stop
      %th Movie
      %th Theater
      %th
      %th
      %th

  %tbody
    - @timetables.each do |timetable|
      %tr
        %td= timetable.time_start
        %td= timetable.time_stop
        %td= timetable.movie
        %td= timetable.theater
        %td= link_to 'Show', timetable
        %td= link_to 'Edit', edit_timetable_path(timetable)
        %td= link_to 'Destroy', timetable, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Timetable', new_timetable_path
