%h1.display-5.mt-3.mb-5 Log in 
/ %p#alert= alert

= simple_form_for :login do |f|

  = f.input :username, required: false
  = f.input :password, required: false
  = f.button :submit, 'Log in', class: "btn btn-primary mt-2"
  = link_to 'Register' , register_path, class: 'btn btn-secondary mt-2 text-white'